video_to_transcript.json
{
  "name": "video_to_transcript",
  "nodes": [
    {
      "parameters": {
        "path": "start_transcription",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        32
      ],
      "id": "3431f1c6-a7c2-45c0-9da9-118e35cb9339",
      "name": "Webhook",
      "webhookId": "4a01618c-3c11-4aea-933d-fe2fe3bc721e"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        -48
      ],
      "id": "62fea2c5-3c6f-4dde-9178-2a149084ac64",
      "name": "Wait",
      "webhookId": "9acd3d06-98d5-4f88-a688-6c458ca4581f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1faccad9-8c9a-4e4e-9c28-3d241a764563",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        32
      ],
      "id": "4dee48a6-d11f-4c7f-8f7f-76c7823817e3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1344,
        32
      ],
      "id": "34ed7483-278f-4b8b-9dfa-65482384829b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "folderId": "1R20kH9U4pAiagMi8ZxxEsHfviatci1VP",
        "title": "transcript_extracted_from_recording"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2336,
        32
      ],
      "id": "8440f0bc-3e76-4d7a-9c9f-a9f4dcee165a",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ZpMYDgxrOjlBK3zW",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5000/download/{{ $json.job_id }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        32
      ],
      "id": "ca86f8b6-714b-4f7d-a7cf-2f7dbf3f0f74",
      "name": "download"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5000/status/{{ $('transcribe').item.json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        32
      ],
      "id": "3ccac704-5c07-441d-b7d8-d36bc71929e9",
      "name": "status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/transcribe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"s3_bucket\": \"video-transcription-00\",\n  \"s3_key\": \"BRD review and data logics.mp4\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        32
      ],
      "id": "751abc05-de9a-4cde-8f9b-e33035b99edf",
      "name": "transcribe"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('parse_ai_output').item.json.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2544,
        32
      ],
      "id": "48426780-0265-4338-aa17-e435765d705b",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ZpMYDgxrOjlBK3zW",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nraw_data = _input.first().json.output.text_summary\n  \ndata = \"\"\n \nprint(\">>>>>>>>>>>>\", isinstance(raw_data, str), raw_data)\n\nif isinstance(raw_data, str):\n    raw_clean = re.sub(r\"^```json\\s*|\\s*```$\", \"\", raw_data.strip(), flags=re.MULTILINE)\n    print(\">>>>>>>>>>>\", raw_clean)\n    data = {\"data\":raw_clean}\nelse:\n    data = {\"data\":raw_data}\n\nreturn [\n        {\"json\": data,\n         \n         \"pairedItem\": {\n            \"item\": data\n                      }\n        }\n       ]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        32
      ],
      "id": "1fba8743-eb3b-4abf-afc9-1aa6b9baedc1",
      "name": "parse_ai_output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## You are a Meeting Intelligence Agent.\n\n## Your input is: \n{{ $json.data }}\n\nYour task is to deeply analyze this transcript and extract a comprehensive understanding of what was discussed in the meeting.\n\nFocus on identifying every key point of discussion, subtopic, and detailed explanation that participants went into. Go beyond surface-level summaries — capture *what* was discussed, *why*, and *how*.\n\n## You must:\n1. Identify and list the main discussion points and subtopics covered.\n2. Extract all relevant \"touchpoints\" — including explanations, examples, or elaborations participants gave.\n3. Determine the relationships between topics (for instance, problem → solution, question → clarification, or idea → next step).\n4. Understand and reflect the overall narrative or flow of the meeting — how the discussion evolved.\n5. Synthesize this understanding into a coherent summary that captures the essence of the entire conversation, not just isolated points.\n\n## DESIRED OUTPUT:\n\n```json\n{\n    \"text_summary\": \"< IN MARKDOWN FORMATTING: A rich, holistic summary capturing all major discussions, key ideas, and the overall understanding of what the meeting was about. Include both factual details and contextual meaning.>\",\n    \n}\n``` }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1552,
        32
      ],
      "id": "8770480e-ec69-415a-b3c6-db8708de2e38",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"text_summary\": \"< IN MARKDOWN FORMATTING: A rich, holistic summary capturing all major discussions, key ideas, and the overall understanding of what the meeting was about. Include both factual details and contextual meaning.>\"\n    \n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1728,
        240
      ],
      "id": "79ec4af0-940f-4f0b-aa46-7e6603da2020",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        240
      ],
      "id": "2bfb7cd7-48cb-4ff8-9cc4-2faf37e8123d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "R20JkciAEkCvc5sE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('transcribe').item.json.job_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1536,
        240
      ],
      "id": "743ab522-b780-4a6f-a134-97e0d5b2d3fb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1664,
        448
      ],
      "id": "8c6c0b6b-ce93-4eda-b0d3-c00ae545716b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "R20JkciAEkCvc5sE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe": {
      "main": [
        [
          {
            "node": "status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_ai_output": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "parse_ai_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b0492dbd-f162-4c4d-a0c4-6bdc2b5e2414",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "719baaf747448413a7ae249f9b4828c6bf57a18a5152e6ca10894c42c4d8d075"
  },
  "id": "mG8lNlZo2BmK1HRu",
  "tags": []
}